<h4 class="ui center aligned medium icon header">
  <p>Welcome to MessageMe - <em>a complete Chat App</em></p>
  <i class="circular orange power off icon"></i>
  Sign Up
</h4>

<% if @user.errors.any? %>
  <div class="ui error message transition">
    <h5>The following errors prevented the user from getting created</h5>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user, html: {class: "ui form", role: "form"},  url: signup_path) do |f| %>
  <div class="field">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name, placeholder: "First Name" %>
  </div>
  <div class="field">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>
  <div class="field">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, placeholder: "johndoe@ymail.com" %>
  </div>
  <div class="field">
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.password_field :password %>
  </div>
  <%= f.button "Submit", class: "ui button orange" %>
<% end %>
